# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.ECS_find_targets.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\_study\work\ECS_find_targets\.idea\.idea.ECS_find_targets\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
